.card_welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card_welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://static01.nyt.com/images/2019/05/07/smarter-living/07carbonfootprint-slide-SUBX/carbonfootprint-slide-SUBX-jumbo.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.card_welcome-content {
    position: relative;
    z-index: 2;
    color: #3B5323;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Heading */
.card_welcome-content h1 {
    color: #2E4600;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

/* Paragraph text */
.card_welcome-content p {
    color: #4C7043;
    font-size: 1.25em;
    margin-bottom: 1em;
}

/* Get Started button style */
.read-the-docs {
    color: #556B2F;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.read-the-docs:hover {
    color: #3B5323;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 1em 2em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-left {
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.navbar-center {
    text-align: center;
    flex-grow: 1;
    margin-left: -100px;
}

.navbar-center h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.navbar-center p {
    font-size: 1em;
    margin: 0;
    color: #f9f9f9;
}

.navbar-right {
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 10px;
}

.navbar-right span {
    margin-left: 0.5em;
    font-weight: bold;
}
